

html {
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden;
}

body {
   margin: 0px auto;
   min-height: 100vh;
}

/* Under line animantion CSS - Soursed from: https://www.youtube.com/watch?v=5PzWwyVB2-c */
#link {
   display: inline-block;
   position: relative;
   text-decoration: none;
}

#link::before {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #111111;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

#link:hover::before {
   transform: scaleX(1);
   transform-origin: bottom left;
}

hr {
   border-color: rgb(110, 110, 110); /*rgba(11, 11, 11, 1) */
   border-width: 0.5px;
   width: 99%;
}

/*Nav Bar*/

nav img {
    max-height: 50px;
}

.nav-links{
    display: flex;
    /*justify-content: space-around;*/
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 80px;
}

.nav-links li {
    display: inline-block;
    list-style-type: none; /*Remove bullet points*/
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    width: calc(100% / 5); /*Width / no. links*/
    height: 100%;
    text-align: center;
}

.nav-links li  a{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; /*Remove underline*/
    padding-top: 29px;
    /* border-right: solid 2px black; */
}

/* By giving the Onslow College logo an ID it allows me to over ride the padding given on the a tags so that I can center the logo */
#logo {
    padding-top: 12.5px;  /* Over riding the padding on a tags */
}

/* Main Image CSS */

.main {
   position: relative;
   text-align: center;
   padding: 0;
   margin: 0 auto;
}

/* "Onslow College Enviro Group  -  Main Text" */
.main h1 {
   color: white;
   font-size: 65px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   line-height: 1.2em;
   position: absolute;
   bottom: 50%;
   left: 15%;
}

.main br {
   margin-right: 100%;
}

.dark-layer {
   background-color: rgb(0, 0, 0, 0.2);
   position: relative;

}

.main img {
    width: 100%;  /* Something I would improve on is going out and taking my own high quality images so that I am able to scale them to the size that I require for my website */
    position: relative;
    z-index: -1;
}

p {
    font-size: 16px;
}

/* Background Image Div CSS*/
.background {
   background-image: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: 100vw auto;
   overflow: hidden;
   margin: 0;
}

/* About Us CSS */

.about-us {
   padding: 0 5%;
}

.about-us h2 {
   color: black;
   font-size: 40px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   line-height: 1.2em;
   margin-bottom: 21px;
   text-align: center;

}

.about-us h3 {
   color: #3b758c;
   font-size: 24px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   line-height: 1.2em;
   text-align: left;
   margin-top: 0px;

}

.about-us p {
   color: black;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.5em;
   text-align: left;
   margin-bottom: 33.2px;
}

/* Our Projects CSS */

.our-projects {
   padding: 0 5%;
}

.our-projects h2 {
   color: black;
   font-size: 40px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   line-height: 1.2em;
   margin-bottom: 21px;
   text-align: center;

}

#our-projects-blurb {
   display: block;
   position: relative;
   text-align: center;
}

.our-projects p {
   color: black;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.2em;
   text-align: left;
   /* z-index: 1; */
}

#breaker {
   display: table;
   background: rgba(169, 212, 217, 1);   /* #3b758c  - rgba(59, 117, 140, 0.5) */
   width: 20vw;
   height: 3px;
   margin: 0px auto;
}

/* Home Page - Projects CSS */

#top-box {
   margin-top: 13vh;
}

.box {
   position: relative;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
   margin: 5vh 0 0 0;
   box-sizing:border-box;
   display: flex;
}

.box .imgbox {
   width: 150px;
   flex: 0 0 150px;
}

#project-img {
   /* max-width: 100%;s */
   border-radius: 4px;
}

.box .imgbox img {
   /* max-width: 100%; */
   border-radius: 30px;
   width: 30px;
}

.box .content {
   padding-left: 20px;
}

.box .content h3 {
   font-family: 'Noto Sans', sans-serif;
   font-size: 28px;
   font-weight: 400;
   color: #1c2836;
   margin: 0 0 0 0;
}

.box .content p {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 1.4em;
   margin-bottom: 0px;
}

/* Individual Project Page CSS */

#project-title {
   width: 100%;
   left: 50%;
   top: 0px;
   transform: translate(-50%, 0);
}

.project-location {
   display: flex;
   position: absolute;
   color: white;
   bottom: 20px;
   width: 100%;
   margin: 0 15%;
}

.project-location .fa-map-marker-alt {
   font-size: 28px;
}

.project-location a {
   position: absolute;
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   font-weight: 400;
   color: white;
   margin: 0 15px;
}

.project-location #link::before {
   background-color: white;
}

#filler {
   position: relative;
   font-family: 'Open Sans', sans-serif;
   font-size: 22px;
   margin: 0px -5px;
}

.project-article {
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   margin: 4% 15%;
}

.project-article p {
   font-size: 20px;
   margin-bottom: 0px;
}

.project-article ul {
   padding: 0 0 0 20px;
   margin-top: 10px;
}

.project-article li {
   padding: 0 10px;
}

/* Get Involved CSS */

.get-involved {
   padding: 0 5%;
   margin: 0 0 33.2px 0;
}

.get-involved h2 {
   color: black;
   font-size: 40px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   line-height: 1.2em;
   margin-bottom: 21px;
   text-align: center;

}

.get-involved p {
   color: black;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.5em;
   text-align: center;
   margin: 1rem 25%;
}

#info {  /* Used on Get Involved page */
   margin: 1.8em 25%;
}

.get-involved input[type=text], input[type=email] {
   display: inline-block;
   width: 50%;
   font-size: 20px;
   line-height: 1.2em;
   border: 2px solid #aaa;
   border-radius: 5px;
   outline-color: #02c171;
   transition: 0.3s;
   margin: 8px 25%;
   padding: 8px;
}

#comment {
   /* padding: 8px 8px 50px 8px; */
}

.get-involved button {
   display: inline-block;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   line-height: 1.2em;
   background-color: #02c171;
   border: 1px solid #02c171;
   border-radius: 4px;
   outline: none;
   color: white;
   margin: 8px 0 8px calc(75% - 89px);
   padding: 8px 1.5em;
}

.get-involved button:hover {
   text-decoration: underline;
}

/* Footer CSS */

footer {
   position: relative;
   text-align: center;
}

#footer-divider {
   margin: 0px auto;
   width: 100%;
}

footer p {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   color: black;
   width: 100%;
   margin: 16px 0 0 0;
   left: 50%;
}

footer a {
   left: calc(50% - width)
}

#footer-breaker {
   border-color: rgba(170, 170, 170, 0.2);
   width: 98%;
   margin: 0px auto;
}

/* Back to top icon from fontawesome */
i.fa-chevron-up{
   display: inline-block;
   color: #444;
   font-size: 40px;
   left: 50%;
   width: 100%;
   margin: 16px 0 0 0;
   text-align: center;

}

/*
Title:      font-family: 'Montserrat', sans-serif;      400, 700, 800
Headers:    font-family: 'Noto Sans', sans-serif;       400, 700
Body:       font-family: 'Open Sans', sans-serif;       400, 700


/*
Comments:

- Going back and redoing the CSS I would define what font each text element has at the top, that way I woundnt have to go through each h1, h2/h3 and p elements in the css providing the correct font family.

- In my next website I will reasearch more into what the background of each cell (e.g. about us, get involved, etc...) could look like, rather than making a background img like I did for this project.




*/
